jitsi

Video codecs: H.264 and H.263 (VP8 coming in early 2013)
Audio codecs: Opus, SILK, G.722, Speex, ilbc, G.711 (PCMU, PCMA), G.729 (get your licences first though).
Security: SRTP (with ZRTP or SDES)
RTP DTMF (RFC 2833/RFC 4733)
RTP audio levels (RFC 6465)

https://download.videotorium.hu/recordings/a/a6/a6g/attachments/a6g_9bu_1kp.pdf?filename=0-JITSI-update.pdf

https://tnc15.terena.org/getfile/2797